.git
.github
.gitignore
.env
.env.*
!.env.example

node_modules/
vendor/

storage/framework/cache/
storage/framework/sessions/
storage/framework/views/
storage/logs/

public/build/
public/hot

tests/
.phpunit.cache/
coverage/

*.log
*.sqlite
*.sqlite-shm
*.sqlite-wal

docker-compose*.yml
docker-compose*.yaml

.editorconfig
.styleci.yml
phpunit.xml
phpstan.neon
Readme.md
